@import "./colors";

.footer {
  color: $ColorLight;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.4;
  z-index: 1;
  @media (min-width: 320px) and (min-height: 568px) {
    font-size: 1rem;
  }
  @media (min-width: 475px) {
    font-size: 1.2rem;
  }
  .footer__link {
    color: $ColorBrand;
    text-shadow: 1px 1px $ColorDark;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
