@import "./colors";

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  justify-content: center;
  position: relative;
  // ! Fix Alignment with Header
  .header__img {
    display: none;
    flex-basis: 20%;
    align-self: center;
    justify-self: right;
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto 0 auto;
    // position: absolute;
    // top: 20%;
    // bottom: 25%;
    // left: 5%;
  }
  .header__title {
    justify-self: left;
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 3.5rem;
    color: $ColorBrand;
    background: $ColorDark;
    text-shadow: 3px 3px #00bbf9, 6px 6px #00f5d4, 9px 9px #fee440, 12px 12px #9b5de5;
  }
}
